[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-cors-headers = "*"
djangorestframework = "*"
psycopg2-binary = "*"
decouple = "*"

[dev-packages]
rope = "*"
black = "*"
django-stubs = "*"
djangorestframework-stubs = "*"
pynvim = "*"

[requires]
python_version = "3.10"
